@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9f0e5; /* Light background by default */
}

:root {
  --global-font: 'Open Sans', sans-serif;
}

/* Light mode styles */
.dashboard.light {
  background-color: #e9f0e5; /* Corrected light background */
}

/* Dark mode styles */
.dashboard.dark {
  background-color: #000; /* Dark background */
  color: #fff; /* Light text color for dark mode */
}

.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: row;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition for background and text color */
}

.sidebar {
  border-right: 1px solid #000; /* Default sidebar border color */
}

.main-dashboard {
  margin-left: 250px;
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

/* Dashboard content */
.dashboard-content {
  display: flex;
  justify-content: space-evenly;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
}

.hamburger-menu.open .hamburger-bar {
  background-color: #9bec00; /* Color when open */
}

@media (max-width: 768px) {
  .main-dashboard {
    margin-left: 0; /* No sidebar */
  }

  .sidebar.show ~ .main-dashboard {
    margin-left: 250px; /* Sidebar is shown */
  }

  .dashboard-content {
    flex-direction: column; /* Stack content vertically */
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 2000;
  }

  .hamburger-bar {
    width: 100%;
    height: 3px;
    background-color: #000; /* Hamburger bar color */
    transition: all 0.3s ease;
  }

  /* Dark mode hamburger menu styles */
  .dashboard.dark .hamburger-bar {
    background-color: #fff; /* Hamburger bar color in dark mode */
  }

  .dashboard {
    padding-left: 0; /* Remove padding on mobile */
  }
}
